.scoreText {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem; 
  }
  
  .scoreText p {
    min-width: 200px; 
  }

  .mainPage.rules {
    background-color: rgba(0, 0, 0, 0); 
    font-weight: bold;
    color: white;
  }

  body.rules-bg {
    background-image: url("/pexels-pavel-danilyuk-7429597.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .footer.rules {
    background-color: rgba(0, 0, 0, 0); 
  }
  
  /* For screens narrower than 850px */
  @media (max-width: 849px) {
    .scoreText p {
      flex: 1 1 48%; 
    }
  }

  
